html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	
	font-family: sans-serif;
}

*, *::before, *::after {
	box-sizing:inherit;
}

.grey{
	background-color: #f0f0f0;
}

a{
	color: black;
}

.banner{
	background-image: url("http://placehold.it/64x64");
	background-repeat: no-repeat;
	background-size: cover;
}

