html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	
	font-family: 'Amaranth', sans-serif;
}

*, *::before, *::after {
	box-sizing:inherit;
}

.grey{
	background-color: #f0f0f0;
}

a{
	color: black;
}

.banner{
	background-image: 
	background-repeat: no-repeat;
	background-size: cover;
}

.yellow{
	background-color: #F7F5F0;
}

.blue{
	background-color: #E1E8F4;
}
	
.footer{
	background-color: #7D8FB5;
}

.nav{
	background-color: #E5C97A;
}


label{
	display: block;
}

input + label{
	display: inline;
}


input{

}


.i--signup{
	background-image: url("../images/signup.png");
}